* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.memory-card {
    width: 250px;
    height: 250px;
    display: flex;

}

.memory-card img {
    width: 100%;
    position: relative;
}

#tabuleiro {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.frente-carta,
.fundo-carta {
    width: 100%;
    height: 100%;
    position: absolute;
}